*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}
.container{
	border:1px solid #E7E7E8; 
	display:flex;
	flex-direction:column;
	gap:10px;
	border-radius:6px;
	width:1200px;
	margin:30px auto;
	padding:25px;
}
.primary_alert{
	padding:16px;
	border:1px solid #C8D4F3;
	border-radius:6px;
	background-color:#CFE2FF;
	color:#5476a8;
}
.secondary_alert{
	padding:16px;
	border:1px solid #dcdddd;
	border-radius:6px;
	background-color:#e2e3e5;
	color:#000;
}
.success_alert{
	padding:16px;
	border:1px solid #b5dccb;
	border-radius:6px;
	background-color:#d1e6dd;
	color:#75877a;
}
.danger_alert{
	padding:16px;
	border:1px solid #f4c7cb;
	border-radius:6px;
	background-color:#f7d7da;
	color:#7c4446;
}
.warning_alert{
	padding:16px;
	border:1px solid #f7e8b7;
	border-radius:6px;
	background-color:#fff3cd;
	color:#5a5121;
}
.info_alert{
	padding:16px;
	border:1px solid #b2e1ea;
	border-radius:6px;
	background-color:#cff4fc;
	color:#2b585b;
}
.light_alert{
	padding:16px;
	border:1px solid #fefefe;
	border-radius:6px;
	background-color:#fefefe;
	color:#7d8081;
}
.dark_alert{
	padding:16px;
	border:1px solid #bab8b8;
	border-radius:6px;
	background-color:#d3d3d3;
	color:#393330;
}